@charset "utf-8";
/* CSS Document */

/* CSSコード */
.header {
    background: #e6e6fa;
    display: flex;
    top: 0px;
    height: 20px;
    padding: 20px;
    margin-left: 0px;
    position: fixed;
    justify-content: space-between;
    width: 95%;
    left: 0px;
	right:30px;
}


.top {
  background-color: #fff;
  /*border: 1px solid #02225233;*/
  height: 0px;
  text-align: center;
  padding-top:70px;
}

.nav_menu {
  display: flex;
  padding: 10px;
}

.nav_menu_item {
  margin-left: 20px;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
}

.content_item {
  background-color: #fff;
  top:200px;
  padding: 0px;
}

.fuwafuwa {
  background-color: #fff;
  /*border: 1px solid #02225233;*/
  height: 100px;
  text-align: center;
  padding-top:130px;
}
